[submodule "VoidAssault/external/raylib"]
	path = VoidAssault/external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "VoidAssault/external/enet"]
	path = VoidAssault/external/enet
	url = https://github.com/zpl-c/enet.git
[submodule "VoidAssault/external/Chipmunk2D"]
	path = VoidAssault/external/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D.git
[submodule "VoidAssault/external/json"]
	path = VoidAssault/external/json
	url = https://github.com/nlohmann/json.git
[submodule "VoidAssault/external/bitsery"]
	path = VoidAssault/external/bitsery
	url = https://github.com/fraillt/bitsery.git
